body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    width: 300px;
    text-align: center;
}

.form-container, .dashboard {
    background: rgb(137, 142, 142);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(167, 164, 164, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3367d6;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

a {
    color: #367ef2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


